<div class="container mt-3">
  <h2 class="mb-4">
    Conversation with <%= @presenter.companion.name %>

    <%= turbo_stream_from "user_status" %>

    <%= render "users/status", user: @presenter.companion, online: true %>
  </h2>

  <%= turbo_stream_from @conversation %>

  <%= render "pager", conversation: @conversation, pagy: @pagy %>

  <div id="messages" class="mb-3">
    <%= render @messages %>
  </div>

  <%= render "messages/form", conversation: @conversation %>
</div>
