<div class="text-center">
  <div class="py-5 d-flex justify-content-center">
    <img src="<%= @user.data[:avatar_url] %>" class="rounded-circle avatar">
  </div>

  <h1 class="mb-5"><%= @user.name %></h1>
  <p class="text-muted">ID: <%= @user.id %></p>

  <% if @user.subscription&.premium? %>
    <div class="mb-3">
      <%= button_to "Cancel subscription", cancel_subscriptions_path, class: "btn btn-danger", method: :post, form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
    <div>
      <p class="text-muted"> Premium member until <%= @user.subscription&.paid_until&.strftime("%d %B %Y") %> </p>
    </div>
  <% elsif @user == current_user %>
    <% if @user.subscription&.pending? %>
      <p class="text-muted"> Your subscription is pending </p>
    <% else %>
      <%= button_to "Subscribe for $4.99 per month", subscriptions_path, class: "btn btn-dark btn-gradient", method: :post, form: { data: { turbo: false } } %>
    <% end %>
  <% end %>

  <% unless @user == current_user %><br>
    <%= form_with(url: conversations_path, method: :post, data: { turbo: false }) do |form| %>
      <%= form.hidden_field :receiver_id, value: @user.id %>
      <button type="submit" class="btn p-2 button-as-icon">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x" style="color: #000000"></i>
          <i class="fa-regular fa-message fa-stack-1x fa-inverse" style="color: #ffffff;"></i>
        </span>
      </button>
    <% end %>
  <% end %>

  <div class="py-3 d-flex justify-content-center">
    <div class="w-50">
      <div class="border-bottom"></div>
    </div>
  </div>
</div>

<%= render partial: "/posts/posts", locals: { posts: @user.posts } %>
