<div class="text-center">
  <h1 class="mb-5">Welcome Back</h1>

  <%= render "devise/shared/social_links" %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col-md-4 offset-md-4">
      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
        </div>
      </div>
    </div>

    <div class="col-md-4 offset-md-4">
      <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Enter your password" %>
        </div>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-3">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>

    <div class="actions">
      <%= button_tag(type: "submit", class: "btn btn-dark") do %>
        <i class="fas fa-sign-in-alt"></i> Log in
      <% end %>
    </div>
  <% end %>

  <div class="py-3 d-flex justify-content-center">
    <div class="w-50">
      <div class="border-bottom"></div>
    </div>
  </div>

  <%= render "devise/shared/links" %>
</div>
