<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-5">
    <div class="col-md-4 offset-md-4">
      <div class="mb-3 text-center">
        <%= form.label :title, t("post.title"),  style: "display: block", class: "form-label" %>
        <%= form.text_field :title, class: "form-control", placeholder: t("post.title_example") %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.rich_text_area :content, class: "form-control", style: "min-height: 300px;", placeholder: t("post.content_example") %>
  </div>

  <div class="text-center">
    <%= form.submit t("post.save"), class: "btn btn-dark" %>
  </div>
<% end %>
