<header class="mb-auto">
  <div class="navbar-container fixed-top container d-flex w-100 mx-auto flex-column">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <%= image_tag("logo.svg", alt: "Logo", width: "30", height: "24", class: "d-inline-block align-text-top") %>
          Diary AI
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center container" id="navbarsExample09">
          <ul class="nav mx-auto justify-content-center mb-2 mb-md-0">
            <li class="nav-item">
              <%= link_to users_path, class: "nav-link px-2 #{current_page?(users_path) ? 'link-secondary' : 'link-body-emphasis'}" do %>
                <i class="fas fa-comments"></i> Chat
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to posts_path, class: "nav-link px-2 #{current_page?(posts_path) ? 'link-secondary' : 'link-body-emphasis'}" do %>
                <i class="fas fa-book"></i> Memories
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_post_path, class: "nav-link px-2 #{current_page?(new_post_path) ? 'link-secondary' : 'link-body-emphasis'}" do %>
                <i class="fas fa-plus-square"></i> New Entry
              <% end %>
            </li>
          </ul>

          <%= form_with url: posts_path, method: :get, role: "search", class: "col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3", local: true do |form| %>
            <%= form.search_field :search_query, value: params[:search_query], class: "form-control", placeholder: "Search memories...", aria: { label: "Search" } %>
          <% end %>

          <ul class="navbar-nav text-end">
            <% if user_signed_in? %>
              <li class="nav-item dropdown text-center">
                <a class="d-block link-body-emphasis text-decoration-none dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true">
                  <img src="<%= current_user.data[:avatar_url] %>" alt="Profile" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                  <li>
                    <%= link_to profile_path, class: "dropdown-item" do %>
                      <i class="fas fa-user"></i> Profile
                    <% end %>
                  </li>
                  <% unless current_user.subscription&.premium? %>
                    <li>
                      <%= button_to subscriptions_path, class: "dropdown-item btn btn-dark btn-gradient", method: :post, form: { data: { turbo: false } } do %>
                        ✨ AI Premium ✨
                      <% end %>
                    </li>
                  <% end %>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, data: { "turbo-method": :delete }, class: "dropdown-item" do %>
                      <i class="fas fa-sign-out-alt"></i> Sign out
                    <% end %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "nav-link" do %>
                  <i class="fas fa-sign-in-alt"></i> Sign in
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link" do %>
                  <i class="fas fa-user-plus"></i> Sign up
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
