<!DOCTYPE html>
<html>
  <head>
    <title>DiaryAnalyzerAi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
      <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>

      <% if user_signed_in? %>
        <div> Welcome <%= current_user.email %> </div>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= button_to "Sign in", new_user_session_path %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
