<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <title>DiaryAnalyzerAi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="https://kit.fontawesome.com/a1d72dce01.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex h-100 text-center">
    <div style="max-width: 75%;" class="container d-flex w-100 p-3 mx-auto flex-column">
      <%= render "layouts/navbar" %>

      <p style="color: green"><%= notice %></p>
      <p style="color: red"><%= alert %></p>

      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
